footer {
    margin: 1%;
    text-align: center;
    font-size: 1vw;
    
    color: black;
}

#main {
    aspect-ratio: 1 / 1.75;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: auto;
}

#display {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 5%;
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
    
    background-color: black;
}

#prevDisplay {
    flex: 2;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    overflow: hidden;
    margin-bottom: 2%;

    color: gray;
    font-size: 1.25vw;
    mask-image: linear-gradient(to left, gray 90%, transparent 100%);
    -webskit-mask-image: linear-gradient(to left, gray 90%, transparent 100%);
}

#currDisplay {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    overflow: hidden;

    color: white;
    font-size: 2.5vw;
    mask-image: linear-gradient(to left, white 90%, transparent 100%);
    -webskit-mask-image: linear-gradient(to left, white 90%, transparent 100%);
}

#buttonContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 2%;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;

    background-color: black;
}

.buttonRow {
    flex: auto;
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 1%;
}

button {
    flex: 1;
    font-size: 1.25vw;
    border-radius: 50%;
    border: none;
    aspect-ratio: 1 / 1;

    background-color: #333333;
    color: white;
}

#zero {
    flex-grow: 2;
    border-radius: 999px;
    aspect-ratio: auto;
}

button:hover {
    background-color: #444444;
}

button:active {
    background-color: #666666;
}

.special {
    background-color: #777777;
}

.special:hover {
    background-color: #888888;
}

.special:active {
    background-color: #AAAAAA;
}

.operator {
    background-color: hsl(40, 100%, 50%);
}

.operator:hover {
    background-color: hsl(40, 100%, 60%);
}

.operator:active {
    background-color: hsl(40, 100%, 80%);
}